.card-img {
 display: flex;
 flex-direction: column;
 width: 30%;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;

}

.project-text {
  color: #1f2839;
  text-decoration: none;

}